<div class="hourly-card glass-effect">
  <div class="time">{{ hourlyForecast().time }}</div>
  <img
    class="weather-icon"
    [src]="hourlyForecast().icon"
    [alt]="hourlyForecast().description"
  />
  <div class="temperature">
    <span>{{ hourlyForecast().temperature }}</span>
    <span class="unit">°C</span>
  </div>
  <div class="description">{{ hourlyForecast().description }}</div>
  <div class="wind">
    <span class="wind-label">Wind: </span>
    <span class="wind-value">{{ hourlyForecast().windSpeed }} km/h</span>
  </div>
</div>
