:host {
  display: block;
  min-width: 0;
}

.day-container {
  display: flex;
  flex-direction: column;
  min-height: 16rem;
  background-color: var(--background-dark);
  border-radius: 16px;
  padding: 1.2rem 1rem 0 1rem;
  animation: fadeInUp 0.5s ease-out forwards;
}

.date-header {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-top: 0;
  margin-bottom: 2rem;
  border-left: 4px solid var(--accent-color);
  padding-left: 1rem;
}

.hourly-container {
  display: flex;
  gap: 0.75rem;
  padding-bottom: 1.25rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Styling for WebKit browsers (Chrome, Safari, Edge) */
.hourly-container::-webkit-scrollbar {
  height: 7px;
  background-color: var(--background-dark);
}

.hourly-container::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--accent-dull);
}

@media (min-width: 768px) {
  .day-container {
    min-height: 17rem;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}